name: Android Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Date
        id: get-date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Build with Buildozer
        # 换成这个目前维护最勤、修复了权限 Bug 的版本
        uses: FarasYasin/buildozer-action@v2
        with:
          buildozer_version: master
          workdir: .

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: GoldApp-${{ steps.get-date.outputs.date }}
          path: bin/*.apk
