name: Android Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          workdir: .
          buildozer_version: master
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Gold-App-Package
          path: bin/*.apk
